body {
    margin: 0px;
}



.nav-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 38px;
}

.left-side {
    display: flex;

}

.nav-wrapper>.left-side>div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px soilid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8A8A8A;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}